* {
    padding: 0;
    margin: 0;
    font-family: "Roboto" ;
}
a {
    text-decoration: none;
}


header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    padding-top: 10px;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
    
}
header li a {
    color: #E5E7EB;
    font-size: 18px;
}