* {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

a {
    text-decoration: none;
}

/* WRAPPER */
.wrapper {
    padding: 1% 10%;
    background-color: #1F2937;
    color: #F9FAF8;

}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 25px;

}

header li a {
    color: #E5E7EB;
    font-size: 18px;
}

/* MAIN */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5%;
    padding: 5% 0;
}

.text {
    width: 450px;
}

main button {
    background: #3882F6;
    color: white;
    padding: 8px 25px;
    border-radius: 12px;
}

main section p {
    font-size: 18px;
    color: #E5E7EB;
    padding: 15px 0;
}

main section h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

main section.splash img {
    max-width: 100%;
}

/* BOXES */
.boxes {
    text-align: center;
    padding-bottom: 5%;
}

.boxes h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 2% 0;
}

.boxes div {
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
    justify-content: center;
}

.boxes div section {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.boxes div section img {
    border: 3px solid #3882F6;
    border-radius: 12px;
    margin-bottom: 8px;
}

.boxes span {
    display: flex;
}

/* QUOTE */
.quote {
    display: flex;
    flex-direction: column;
    background: #E5E7EB;
    padding: 5% 23%;
}

.quote p {
    text-align: left;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    font-style: italic;
}

.quote span {
    text-align: right;
    font-weight: bold;
}

/* SIGNUP */
.signup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5% 0;
}

.signup div {
    display: flex;
    justify-content: space-around;
    background: #3882F6;
    align-items: center;
    font-size: 18px;
    color: white;
    padding: 2%;
    width: 60%;
}

.signup div div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.signup button {
    padding: 3px 25px;
    background: #3882F6;
    border: 1px solid white;
    color: white;
    border-radius: 6px;
}

/* FOOTER */
footer {
    background: #1F2937;
    padding: 20px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
}